* {
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
div .column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex-direction: row; */
}
.column {
  display: flex;
  float: left;
  align-items: center;
  width: 25%;
  padding: 0 10px;
  margin: 3%;
  /* justify-content: space-around; */
  align-items: center;
}

.hover14 {
  box-shadow: 4px 4px 10px rgb(172, 161, 161);
  margin: 50px;
  border-radius: 11px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
}
.hover14 img {
  width: 300px;
  height: 18rem;
  object-fit: cover;
}
.ho:after {
  content: "";
  display: table;
  clear: both;
}
.hover14:hover {
  box-shadow: 5px 5px 10px rgb(116, 111, 111);
  position: relative;
  top: -2px;
  right: 2px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media only screen and (max-width: 600px) {
  .hover14 img {
    width: 300px;
    height: 18rem;
    object-fit: cover;
  }
  .hover14 {
    box-shadow: 4px 4px 10px rgb(172, 161, 161);
    margin: 7px;
    padding: 5%;
  }
  .column {
    float: left;
    width: 200px;
    padding: 0 10px;
    margin-left: 25%;
    justify-content: center;
    justify-items: center;
    display: block;
    align-items: center;
  }
}
